In [245]:
from algorithms.linear_regression import LinearRegression

import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from hyperopt import fmin, tpe, hp, Trials, STATUS_OK

In [246]:
def standarize(original_df):
    return (original_df - original_df.mean())/original_df.std()

def destandarize(standarized_df, original_df):
    return standarized_df*original_df.std() + original_df.mean()

# Predicción de notas de estudiantes de Arquitectura en Computadores I

In [247]:
df = pd.read_csv("./datasets/grades.csv")
df.head()

   Proyecto1  Proyecto2  Examen1  Taller1  Tarea1  Final  Resultado
0      100.0      100.0     53.3     80.0    76.0   80.0          1
1        0.0        0.0     12.6     40.0     0.0    5.0          0
2      100.0       45.0     49.6    100.0   100.0   80.0          1
3        0.0        0.0      0.0      0.0     0.0    0.0          0
4      100.0      100.0     61.6    100.0    66.7   80.0          1

## Feature Engineering

### Estandarización del set de datos

In [248]:
standarized_data = standarize(df)
standarized_data.head()

   Proyecto1  Proyecto2   Examen1   Taller1    Tarea1     Final  Resultado
0   1.129310   1.193013  0.552005  0.242692  0.820844  0.557863   0.658924
1  -1.865678  -2.167046 -1.343378 -0.970333 -1.214622 -2.104667  -1.503171
2   1.129310  -0.655020  0.379697  0.849204  1.463622  0.557863   0.658924
3  -1.865678  -2.167046 -1.930155 -2.183358 -1.214622 -2.282169  -1.503171
4   1.129310   1.193013  0.938533  0.849204  0.571767  0.557863   0.658924

In [249]:
features = standarized_data[["Proyecto1", "Proyecto2", "Examen1", "Taller1"]]
features.head()

   Proyecto1  Proyecto2   Examen1   Taller1
0   1.129310   1.193013  0.552005  0.242692
1  -1.865678  -2.167046 -1.343378 -0.970333
2   1.129310  -0.655020  0.379697  0.849204
3  -1.865678  -2.167046 -1.930155 -2.183358
4   1.129310   1.193013  0.938533  0.849204

In [250]:
X = features.to_numpy()
Y = standarized_data.Final.to_numpy().reshape(-1, 1)

print(X.shape)
print(Y.shape)

(105, 4)
(105, 1)

### División del set de datos

In [251]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=404)

## Modelo de Regresión Lineal

In [252]:
model = LinearRegression(n_features=4, epochs=1000000, learning_rate=0.001)
model.train(X_train, Y_train)
y_pred = model.predict(X_test)
print(destandarize(y_pred, df.Final))

[[116.70242493]
 [ 92.81893416]
 [ 63.19239632]
 [ 81.22120705]
 [ 94.11693266]
 [ 73.69915501]
 [ 73.28308489]
 [ 18.16277155]
 [ 49.85218159]
 [ 30.4572314 ]
 [  5.50310861]
 [ 64.14892951]
 [ 38.90006827]
 [ 10.59839922]
 [ 82.01855192]
 [ 61.20066671]
 [ 14.78656722]
 [102.07397776]
 [ 34.45744238]
 [105.72714556]
 [127.77643497]]